{% extends "_layout/default.html" -%} {% block content -%}
<nav
  class="bg-blue-800 text-white py-2.5 fixed top-0 left-0 w-full z-10 h-gnbheight flex justify-between items-center"
  x-data="{activeNavItem: window.location.pathname.split('/')[1]}"
>
  <ul class="flex justify-start">
    <li class="mx-4"><a href="#" class="hover:text-gray-400" :class="{'text-gray-400': activeNavItem === '' }">Home</a></li>
    <li class="mx-4"><a href="#" class="hover:text-gray-400" :class="{'text-gray-400': activeNavItem === 'Remote' }">Remote</a></li>
    <li class="mx-4"><a href="#" class="hover:text-gray-400" :class="{'text-gray-400': activeNavItem === 'WebSocket' }">WebSocket</a></li>
  </ul>
  <ul class="flex justify-end">
    <li class="mx-4"><a href="#" class="hover:text-gray-400">Alarm</a></li>
    <li class="mx-4"><a href="#" class="hover:text-gray-400">Profile</a></li>
  </ul>
</nav>
{% endblock %}
